index.html
<!DOCTYPE html>
<html lang="es_ES">
  <head>
    <meta charset="utf-8"/>
    <title>Recuerdos | Fotografía y Filmación de Bodas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="foto y video de bodas, has que esos recuerdos inolvidables permanezcan por el tiempo, Fotografia y video profesional para bodas, quinceaños, shower, cumpleaños, etc."/>
    <meta name="robots" content="index, follow"/><!--Meta Tag for Facebook-->
    <meta property="og:url" content="http://www.recuerdodebodas.com"/>
    <meta property="og:type" content="Website"/>
    <meta property="og:title" content="titulos"/>
    <meta property="og:description" content="foto y video de bodas, has que esos recuerdos inolvidables permanezcan por el tiempo, Fotografia y video profesional para bodas, quinceaños, shower, cumpleaños, etc."/>
    <meta property="og:image" content="ubicacion de imagen"/><!--Meta Tag for otro-->
    <!--Meta Tag for otro-->
    <!--Meta Tag for otro-->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,300" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/normalize.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <header class="header">
      <div class="header-innner">
        <div class="header-top"><img src="img/logo-recuerdos.svg" alt="Logo Recuerdos"/>
        </div>
        <div class="header-infoMain">
        </div>
      </div>
    </header>
    <section id="contactar" class="section-form">
      <h3>llena el formulario y adquiere esta gran promoción.</h3>
      <form action="index.html">
        <div id="mensajeEnvio" class="mensajeEnvio"><span class="ico-envio"></span>Su mensaje fue enviado exitosamente, nos pondremos en contacto en la brevedad.</div>
        <div id="mensajeEnvioError" class="mensajeEnvio"><span class="ico-envioError"></span>Opps! Lo sentimos, hubo un error de envio</div>
        <div id="mensaje" class="mensajeError"></div>
        <input type="text" id="nombre" placeholder="Nombre y Apellido"/>
        <input type="email" id="email" placeholder="Email"/>
        <input type="tel" id="telefono" placeholder="Teléfono"/>
        <textarea id="mensaje1" placeholder="Mensaje"></textarea>
        <button type="button" id="Enviar" class="Btn">Enviar</button>
      </form>
    </section>
    <footer class="footer">
      <div class="footer-inner"><img src="img/logo-recuerdos.svg" alt="Logo Recuerdos"/>
        <ul class="social-contact ul-clear">
          <li><a href="//vimeo.com/recuerdosfilmacion" target="_blank" class="ico-vimeo"></a></li>
          <li><a href="//www.youtube.com/channel/UC2VaIp7Na60-rsu-wqd0N1Q" target="_blank" class="ico-youtube"></a></li>
          <li><a href="//www.facebook.com/recuerdosfilmacion" target="_blank" class="ico-facebook"></a></li>
          <li><a href="#" class="ico-google-plus"></a></li>
          <li><a href="#" class="phone">Cel.: 996847572</a></li>
        </ul>
      </div>
      <div class="copy-Right">
        <h4>Todos los Dereches Reservados. Recuerdos.</h4>
        <h5>Hecho por <a href="//www.michaelcardoza.com" target="_blank">Michael Cardoza</a></h5>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="js/funcion.js"></script>
    <script src="js/main_eventos.js"></script>
  </body>
</html>

_lab/index.jade
<!DOCTYPE html>
html(lang="es_ES")
	
	include _jade/_include-jade/_head.jade
	
	body
		
		include _jade/_include-jade/_header.jade
		
		//- section.section-moreInfo
		//- 	div.banderilla
		//- 		h3 OFERTA:
		//- 		h3.precio-actual-number 149
		//- 		div.precio.anterior
		//- 			span ANTES: 
		//- 			span S/.255.00
		//- 	div.promo-lienzo
		//- 		h3 De Regalo:
		//- 		h3 Lienza + foto 20 *30
		//- 		img(src="img/familia-feliz-recuerdos02.png", alt="Familia faliz en un lago | Recuerdos - Yvan Guarniz")
		
		section#contactar.section-form
			h3 llena el formulario y adquiere esta gran promoción.
			form(action="index.html")
				div#mensajeEnvio.mensajeEnvio
					span.ico-envio
					| Su mensaje fue enviado exitosamente, nos pondremos en contacto en la brevedad.
				div#mensajeEnvioError.mensajeEnvio
					span.ico-envioError
					| Opps! Lo sentimos, hubo un error de envio
				div#mensaje.mensajeError
				input(type="text", id="nombre" placeholder="Nombre y Apellido")
				input(type="email", id="email"  placeholder="Email")
				input(type="tel", id="telefono"  placeholder="Teléfono")
				textarea(id="mensaje1" placeholder="Mensaje")
				button(type="button", id="Enviar").Btn Enviar
				
		include _jade/_include-jade/_footer.jade
		
		include _jade/_include-jade/_scripts.jade
